<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
          <p><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</p>
        </div>
        <div class="messaage-body">
          <ul>
            <% entry.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      </div>
  <% end %>

  <div class="field">
    <%= form.label :expense_type, class: "label" %>
    <%= form.text_field :expense_type %>
  </div>

  <div class="field">
    <%= form.label :classification, class: "label" %>
    <%= form.text_field :classification %>
  </div>

  <div class="field">
    <%= form.label :amount, class: "label" %>
    <%= form.number_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
