<p id="notice"><%= notice %></p>

<p>
  <strong>Expense type:</strong>
  <%= @entry.expense_type %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @entry.classification %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @entry.amount %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
